.wp {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: red;
  top: 0;
}

.dice-1{
  position: relative;
  width: 70px;
  height: 70px;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.dice-2{
  position: relative;
  width: 70px;
  height: 70px;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.dice-3{
  position: relative;
  width: 70px;
  height: 70px;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.rolling {
  animation: rolling 4s;
}

@keyframes rolling {
  50%{
    transform: rotateX(455deg) rotateY(455deg);
  }
}
.face{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #ddd;
  border-radius: 7px;
  background: linear-gradient(145deg, #dddbd8, #fff);
  transform-style: preserve-3d;
  overflow: hidden;
}

.face:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transform: translateZ(-1px);
}

.front{
  transform:  translateZ(35px);
}

.back{
  transform: rotateX(180deg) translateZ(35px);
}

.top{
  transform: rotateX(90deg) translateZ(35px);
}

.bottom{
  transform: rotateX(-90deg) translateZ(35px);
}

.right{
  transform: rotateY(90deg) translateZ(35px);
}

.left{
  transform: rotateY(-90deg) translateZ(35px);
}

.start-game{
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Roboto, Arial";
  font-weight: 500;
  width: 100px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  border: 1.5px solid transparent;
}

.container {
  position: relative;
  width: 320px;
  height: 320px;
  margin: auto;
  background: radial-gradient(circle, #ffffff, #e0e0e0);
  border: 2px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 60px 0 40px;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,0.1);
}

.dice-container-1{
  position: absolute;
  left: 60px;
  top: 110px;
  transform: rotateZ(-10deg)
}

.dice-container-2{
  position: absolute;
  right: 120px;
  top: 210px;
  transform: rotateZ(-20deg)
}

.dice-container-3{
  position: absolute;
  right: 70px;
  top: 80px;
  transform: rotateZ(30deg)
}

.avatar{
  width: 65px;
  height: 65px;
}

.show-bowl{
  display: flex;
  margin:  10px 10px 0 25px;
  margin: right;
}

@keyframes next {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.show-bowl-text {
  font-size: 1.2em;
  font-family: "Roboto, Arial";
  font-weight: 500;
  color: #000;
  margin-left: 10px;
}

.circle{
  width: 220px;
  height: 220px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
  text-align: center;
  margin-top: 25px;
}


.bowl{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to bottom, #ffffff, #cccccc);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.bowl-border {
  margin: auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid #888;
  position: absolute;
  top: 28%;
  left: 28%;
  z-index: 6;
}

.openBowl{
  animation: next 1.5s ease-in-out 1 forwards;
}

.img-main{
  width: 80%;
}