.wp {
  margin-top: 60px;
}

.title {
  text-align: center;
  padding: 50px;
  font-size: 1.6rem;
}

.title p {
  font-style: italic;
  font-family: "Roboto, Arial";
}

.layout-slide {
  margin: auto;
  width: 250px;
  height: 300px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 
  5px 10px 20px rgba(0, 0, 0, 0.3),
  -5px -5px 15px rgba(255, 255, 255, 0.8),
  inset 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.slide{
  background: #000;
  width: 100%;
  height: inherit;
}

.slide .list{
  display: flex;
  min-width: calc(250px * var(--count));
  position: relative;
}

.slide .list .item{
  background: #FDFDF5;
  text-align: center;
  align-items: center;
  width: 260px;
  height: 300px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2),
              0px 5px 10px rgba(0, 0, 0, 0.1),
              inset 0px 2px 5px rgba(255, 255, 255, 0.6);
  left: 100%;
  animation:  autoRun 4s linear infinite;
  animation-delay: calc((4s/var(--count)) * calc((var(--position) - 4)));
  animation-play-state: paused;
  z-index: 5;
}

.slide .list .item .layout-item {
  position: absolute;
  left: 7%;
  top: 7%;
  width: 86%;
  height: 86%;
  padding: 70px 20px;
  border: 2px solid #4A4A4A;
}

.slide .list .item .text-vn{
  color: #333333;
  width: 100%;
  font-size: 1.6rem;
  font-family: "Roboto, Arial";
  font-weight: 700;
}

.slide .list .item .text-en{
  color: #333333;
  width: 100%;
  font-size: 1.6rem;
  font-family: "Roboto, Arial";
}

@keyframes autoRun {
  0% { left: 100% }
  50% { left: 0; animation: ease-out}
  100% { left: calc(250px * -1); z-index: -1}
}

.layout-start {
  padding: 50px;
  width: 100%;
  text-align: center;
}

.start-game{
  margin: auto;
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 20px;
  border: 1.5px solid transparent;
}

.name-book{
  height: 100%;
  color: #fff;
  padding: 25px;
  position: relative;
}

.text-name-line-one{
  display: flex;
}

.text-name-book{
  font-size: 2.8rem;
  font-weight: 900;
}

.text-name-book-two{
  padding-left: 7px;
  font-size: 1.6rem;
  font-weight: 500;
  align-self: flex-end;
  padding-bottom: 5px;
}

.text-name-book-three{
  font-size: 3.4rem;
  font-weight: 900;
}

.note {
  font-size: 1.4rem;
}

.more {
  position: absolute;
  bottom: 25px;
  font-size: 1.4rem;
  font-weight: 700;
}

.author {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 1.4rem;
  font-weight: 500;
}